body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.laptop.container-fluid {
  padding: 2% 20% 2% 20%;
}
.mobile.container-fluid {
  padding: 2%;
}
#top-bar-section .container-fluid{
  background-color: blueviolet;
  padding: 0.5% 0%;
}
#top-bar-section img {
  height: 100px;
}
#text-box-bar input {
  margin: 2% 0%;
}
#meme-box .btn {
  background-color: blueviolet;
}
#meme-box .top-meme-text {
  top:5%;
  text-align: center;
}
#meme-box .bottom-meme-text {
  bottom:5%;
  text-align: center;
}
#meme-box {
  top:10px;
}
#meme-box img {
  margin: 0 auto;
}
